:root {
  --primary: #ed3237;
  --secondary: #ffcc29;
  --gray-100: #171717;
  --gray-200: #616161;
  --gray-300: #707070;
  --gray-400: #1b1b1b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s all ease-in-out;
}
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #000;
  color: #fff;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
input,
button {
  outline: none;
  box-shadow: none;
}

/* common */
.rotate-45 {
  transform: rotate(-45deg);
}
.rotate-45:hover {
  transform: rotate(0deg);
}
::-webkit-scrollbar-thumb {
  background-color: white;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: var(--gray-200);
}
/* btn-theme */
.btn-theme {
  width: fit-content;
  padding: 6px 16px;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  background-color: var(--primary);
  color: white;
}
.btn-theme:hover {
  background-color: var(--primary);
}
/* btn-theme2 */
.btn-theme2 {
  width: fit-content;
  padding: 6px 16px;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  background-color: var(--gray-400);
  color: white;
}
.btn-theme2:hover {
  background-color: var(--primary);
}
.btn-theme2:hover .rotate-45 {
  transform: rotate(0deg);
}
/* btn-link */
.btn-link {
  width: fit-content;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}
.btn-link:hover {
  color: var(--primary);
}
.btn-link span {
  position: relative;
}
.btn-link span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 1px;
  transition: 0.2s all ease-in-out;
}
.btn-link:hover span::before {
  width: 0;
}
.btn-link:hover .rotate-45 {
  transform: rotate(0deg);
}
/* text-style */
.text-theme {
  color: var(--primary);
}
.bg-theme {
  background-color: var(--primary);
}
.text-theme2 {
  color: var(--gray-200);
}
.bg-theme2 {
  background-color: var(--gray-200);
}
.text-hover-primary {
  color: white;
}
.text-hover-primary:hover {
  color: var(--primary);
}
.text-hover-link {
  color: white;
}
.text-hover-link:hover {
  color: black;
}
/* menu icon */
.menu {
  position: relative;
  width: 30px;
  height: 30px;
}
.menu .stick1 {
  position: absolute;
  top: 33%;
  right: 0;
  width: 45%;
  height: 2px;
  background-color: white;
  transition: 0.3s all ease-in-out;
}
.menu .stick2 {
  content: "";
  position: absolute;
  top: 66%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
.menu .stick3 {
  content: "";
  position: absolute;
  top: 99%;
  right: 0;
  width: 80%;
  height: 2px;
  background-color: white;
}
.menu .stick1::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 15%;
  width: 3px;
  border-left: 2px solid #000;
  height: 2px;
  background-color: white;
  transition: 0.3s all ease-in-out;
}
.menu .stick2::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 75%;
  width: 3px;
  border-left: 2px solid #000;
  height: 2px;
  background-color: white;
  transition: 0.3s all ease-in-out;
}
.menu .stick3::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 15%;
  width: 3px;
  border-left: 2px solid #000;
  height: 2px;
  background-color: white;
  transition: 0.3s all ease-in-out;
}
.menu:hover .stick1 {
  width: 100%;
  background-color: var(--primary);
}
.menu:hover .stick1::after {
  background-color: var(--primary);
  right: 70%;
}
.menu:hover .stick2 {
  width: 60%;
  right: 20%;
  background-color: var(--primary);
}
.menu:hover .stick2::after {
  background-color: var(--primary);
  right: 10%;
}
.menu:hover .stick3 {
  width: 90%;
  left: 0%;
  background-color: var(--primary);
}
.menu:hover .stick3::after {
  background-color: var(--primary);
  right: 20%;
}
/* navbar */
.nav-link {
  position: relative;
  width: fit-content;
}
.nav-link::before {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  width: 0%;
  z-index: -1;
  height: 5px;
  background-color: var(--primary);
  transition: 0.3s all ease-in-out;
}
.nav-link::after {
  content: "";
  position: absolute;
  top: 60%;
  right: calc(100% + 10px);
  width: 0%;
  height: 5px;
  background-color: black;
  transition: 0.3s all ease-in-out;
}
.nav-link:hover::before {
  width: calc(100% + 20px);
}
.nav-link:hover::after {
  width: 7px;
}
/* banner */
.carousel-caption{
    top: 10%;
    left: 7%;
    width: 100%;
    text-align: start;
}
.content {
  position: relative;
}
.content h1 {
  color: white;
  /* font-size: 11vmin; */
}
.carousel-indicators{
    align-items: center;
}
.carousel-indicators  [data-bs-target]{
    background-color: black;
    opacity: 100%;
}
.carousel-indicators .active{
    width: 50px;
    height: 5px;
}
.text-animation {
  position: absolute;
  top: -74px;
  left: -20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  background: linear-gradient(90deg, rgba(37, 37, 37, 0.4), rgba(255, 255, 255, .4), rgba(0, 0, 0, .4));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  /* z-index: -1; */
  animation: shine 6s ease-in-out infinite;
}
.text-animation span {
  font-size: 28vmin;
}
@keyframes shine {
  from {
    background-position-x: -500%;
  }
  to {
    background-position-x: 500%;
  }
}
.carousel-control-prev{
    left: 85%;
}
.carousel-control-prev::after{
    content: "Prev";
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    left: 100%;
}
.carousel-control-next{
    left: 95%;
}
.carousel-control-next::after{
    content: "Next";
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    left: -150%;
}
.carousel-control-next, .carousel-control-prev{
    align-items: baseline;
    padding-top: 20px;
    width: fit-content;
    opacity: 1;
    height: fit-content;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 1.5rem;
    height: 1.5rem;
}
@media only screen and (max-width: 692px) {
    .carousel-item img{
        height: 80vh;
        object-fit: cover;
    }
    .content h2{
        font-size: 30px;
    } 
    .carousel-caption{
        top: 20%;
        left: 7%;
        width: 100%;
        text-align: start;
    }
    .text-animation {
        top: -100px;
        left: -5px;
    }
    .carousel-control-next, .carousel-control-prev{
        align-items: baseline;
        padding-top: 20px;
        width: 10%;
    }
    .carousel-control-next{
        left: 80%;
    }
    .carousel-control-prev{
        left: 10%;
    }
}